# Remove the question mark from the request but maintain the query string
RewriteEngine On
RewriteRule ^.git(?:/|$) - [F,L]

# Uncomment the following line if your public folder isn't the web server's root
RewriteBase /buscandoconlupa/

<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
</IfModule>

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

RewriteRule ^(.*)$ index.php?$1 [L,QSA]

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript
  AddOutputFilterByType DEFLATE application/javascript application/x-javascript
  AddOutputFilterByType DEFLATE image/svg+xml application/json
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/webp    "access plus 1 year"
  ExpiresByType image/png     "access plus 1 year"
  ExpiresByType image/jpeg    "access plus 1 year"
  ExpiresByType text/css      "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
</IfModule>
